astroid==2.15.5
attrs==23.1.0
autopep8==2.0.2
cattrs==22.2.0
dill==0.3.6
docstring-to-markdown==0.12
exceptiongroup==1.1.1
flake8==6.0.0
greenlet==2.0.2
importlib-metadata==6.6.0
isort==5.12.0
jedi==0.18.2
jedi-language-server==0.40.0
lazy-object-proxy==1.9.0
lsprotocol==2023.0.0a1
mccabe==0.7.0
msgpack==1.0.5
nodeenv==1.8.0
packaging==23.1
parso==0.8.3
platformdirs==3.5.1
pluggy==1.0.0
pycodestyle==2.10.0
pydantic==1.10.7
pydocstyle==6.3.0
pyflakes==3.0.1
pygls==1.0.2
pylint==2.17.4
pynvim==0.4.3
pyright==1.1.308
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.3
pytoolconfig==1.2.5
rope==1.8.0
snowballstemmer==2.2.0
tomli==2.0.1
tomlkit==0.11.8
typeguard==3.0.2
typing_extensions==4.5.0
ujson==5.7.0
whatthepatch==1.0.5
wrapt==1.15.0
yapf==0.33.0
zipp==3.15.0
